<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <fieldset>
                    <legend>Cadastro de Restaurantes - Pesquisa</legend>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Nome</label>
                        <div class="col-md-8">
                            <input #searchBox id="search-box" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="btn-save"></label>
                        <div class="col-md-4">
                            <a class="btn btn-default-btn-xs btn-primary" (click)="search(searchBox.value)">
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                Pesquisar
                            </a>
                            <a class="btn btn-default-btn-xs btn-success" (click)="add()">
                                <i class="glyphicon glyphicon-plus"></i>
                                Cadastrar novo restaurante
                            </a>
                        </div>
                    </div>
                    <div class="error" *ngIf="error">{{error}}</div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>-</th>
                    <th>-</th>
                    <th>Restaurantes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restaurante of restaurantes">
                    <th>
                        <button type="button" class="btn btn-danger" (click)="remove(restaurante, $event)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </th>
                    <th>
                        <button type="button" class="btn btn-info" (click)="edit(restaurante)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </th>
                    <th>{{restaurante.nome}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>