<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a routerLink="/restaurantes" routerLinkActive="active">Restaurantes</a>
                </li>
                <li>
                    <a routerLink="/pratos" routerLinkActive="active">Pratos</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Criado por: Wellington Alves</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>